# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log
*.bak
*~
.*.swp


# Local .terraform directories
**/.terraform/*
*.tfstate
*.tfstate.*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE related
.idea/
**.iml
**/.idea/*

.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
./*.tfstate
.terraform/
